* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* changes background color off white */
body {
    background-color: #d9dcd6;
}
/* changes background header blue with white text with a font family Trebuchet. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* changes header h1 to an inline block at 48px*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* changes text color to white in header h1 .seo */
header h1 .seo {
    color: #d9dcd6;
}
/* puts nav bar to the right and spaces it out */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* changes background of the list in header nav to off white */
header nav ul {
    list-style-type: none;
}
/* sets the marker of the list item element to none*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* changes background color off white for all links */
a {
    color: #ffffff;
    text-decoration: none;
}
/* changes font size to 16 px for all p tags */
p {
    font-size: 16px;
}
/* changes background of class to an image, centers it, and changes dimensions. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* creates a float-left class */
.float-left {
    float: left;
    margin-right: 25px;
}
/* creates a float-right class */
.float-right {
    float: right;
    margin-left: 25px;
}
/* changes class dimensions and changes to inline-block */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* changes background color to blue, floats right, changes dimensions of class. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* changes text color to white */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}
/* aligns text */
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* changes to block style */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* changes background color blue with white text, changes font to Gill Sans, */
.article-boxes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* changes max-height possible */
.article-boxes img {
    max-height: 200px;
}
/* changes font size and margin on bottom */
.article-boxes h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* spaces and centers footer. Adds fonts. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* changes footer font size to 20px */
footer h2 {
    font-size: 20px;
}
